{% extends "network/layout.html" %}

{% load static %}

{% block body %}

    {% if message %}<div>{{ message }}</div>{% endif %}

    <div id="index-container">
        <div id="welcome">
            <h1 class welcome>Welcome</h1>
            <p class welcome-p>Feel free to browse our posts.  Sign in for the full experience</p>
        </div>
        <div id="all-posts"></div>
        <div id="profile">
            <div class:'row'>
                <div class: "col-4">
                    <div class: 'row'>
                        <div class 'col-12'>
                            <img id:"profile_img" />
                            <div class 'col-12'>
                                <h5 id: 'profile_name'></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock body %}

    {% block script %}

        <script src="{% static 'network/feed.js' %}"></script>
    {% endblock %}
